@font-face {
    font-family: "Pixel";
    src: url(Fonts/Pixeboy-z8XGD.ttf);
}

body {
    transform-origin: bottom left;    
    background-position: bottom left;
    background-repeat: inherit;
    background-attachment: fixed;
}

/* For Desktop View */
@media screen and (min-width: 1024px) {
    body {
        background-image: url('Images/bg.png');
        background-position: bottom left;
    }
  }
   
  /* For Tablet View */
  @media screen and (min-device-width: 768px)
  and (max-device-width: 1024px) {
    body {
        background-image: url('Images/bg.png');
        background-position: bottom left;
    }
  }
   
  /* For Mobile Portrait View */
  @media screen and (max-device-width: 480px)
  and (orientation: portrait) {
    body {
        background-image: url('Images/bg-ver.png');
        background-position: bottom left;
    }
  }
   
  /* For Mobile Landscape View */
  @media screen and (max-device-width: 640px)
  and (orientation: landscape) {
    body {
        background-image: url('Images/bg-hor.png');
        background-position: bottom left;
    }
  }

h1 {
    font-family: 'Pixel',serif;
    position: fixed;
    right: 40%;
    bottom: 50%;
}

.gokuMain {
    width: 300px;
    height: 200px;
    position: absolute;
    bottom: -20px;
}

#gif {
    object-fit: cover;
    display: none;
    left: 50px;
}

#png {
    background: url('Images/gokuIdle.png');
    background-size: cover;
    display: inline;
}